---
import '~styles/styles.scss';
import Layout from "../layouts/Layout.astro";
import Header from "../components/Header/Header.astro";
import Hero from "../components/Hero/Hero.jsx";
import Cta from "../components/Cta/Cta.jsx";
import Services from "../components/Services/Services.jsx";
import Stories from "../components/Stories/Stories.jsx";
import Footer from "../components/Footer/Footer.jsx";
import Contacts from "../components/Contacts/Contacts.jsx";
import CareInfo from "../components/CareInfo/CareInfo.jsx";
import { t, changeLanguage } from "i18next";

changeLanguage("lv");

const hero = {
    title: t("index.heroTitle"),
    buttonText: t("index.heroButton"),
};

const cta = {
    tag: t("index.ctaTag"),
    title: t("index.ctaTitle"),
    content: t("index.ctaContent"),
};
const servicesInfo = {
    tag: t("index.serviceTag"),
    title: t("index.serviceTitle"),
    subtitle: t("index.serviceSubtitle"),
    content: t("index.serviceContent"),
};
const servicesCards = [
    {
        title: t("index.cardTitle1"),
        content: t("index.cardTitleContent1"),
        tags: t("index.cardTitleTags1"),
        key: 1,
    },
    {
        title: t("index.cardTitle2"),
        content: t("index.cardTitleContent2"),
        tags: t("index.cardTitleTags2"),
        key: 2,
    },
    {
        title: t("index.cardTitle3"),
        content: t("index.cardTitleContent3"),
        tags: t("index.cardTitleTags3"),
        key: 3,
    },
    {
        title: t("index.cardTitle4"),
        content: t("index.cardTitleContent4"),
        tags: t("index.cardTitleTags4"),
        key: 4,
    },
];
const stories = {
    tag: t("index.storiesTag"),
    title: t("index.storiesTitle"),
    StoryTitle1: t("index.storyTitle1"),
    StoryTitle2: t("index.storyTitle2"),
    StoryTitle3: t("index.storyTitle3"),
    StoryContent1: t("index.storyContent1"),
    StoryContent2: t("index.storyContent2"),
    StoryContent3: t("index.storyContent3"),
    StoryButtonText: t("index.storiesBtnText")
};
const contacts = {
    tag: t("index.contactsTag"),
    header: t("index.contactsHeader"),
    content1: t("index.contactsContent1"),
    content2: t("index.contactsContent2"),
    content3: t("index.contactsContent3"),
    content4: t("index.contactsContent4"),
    name: t("index.contactsName"),
    phone: t("index.contactsPhone"),
    email: t("index.contactsEmail"),
};
const careInfo = {
    tag: t("index.careInfoTag"),
    title: t("index.careInfoTitle"),
    Card1Content: t("index.careCard1Content"),
    Card2Content: t("index.careCard2Content"),
};
---

<Layout title="Welcome to Astro.">
    <Header />
	<main>
		<Hero info={hero}/>
		<Cta info={cta} />
        <Services cards={servicesCards} info={servicesInfo} />
        <Stories info={stories} />
        <Contacts info={contacts} />
        <CareInfo info={careInfo} />
        <Footer />
	</main>
</Layout>