---
import Layout from "../layouts/Layout.astro";
import Hero from "../components/Hero/Hero.astro";
import Cta from "../components/Cta/Cta.astro";
import Services from "../components/Services/Services.astro";
import Stories from "../components/Stories/Stories.astro";
import Footer from "../components/Footer/Footer.astro";
import { t, changeLanguage } from "i18next";

changeLanguage("lv");

const hero = {
    title: t("index.heroTitle"),
    buttonText: t("index.heroButton"),
};
const cta = {
    tag: t("index.ctaTag"),
    title: t("index.ctaTitle"),
    content: t("index.ctaContent"),
};
const servicesInfo = {
    tag: t("index.serviceTag"),
    title: t("index.serviceTitle"),
    subtitle: t("index.serviceSubtitle"),
    content: t("index.serviceContent"),
};
const servicesCards = [
    {
        title: t("index.cardTitle1"),
        content: t("index.cardTitleContent1"),
        tags: t("index.cardTitleTags1"),
        key: 1,
    },
    {
        title: t("index.cardTitle2"),
        content: t("index.cardTitleContent2"),
        tags: t("index.cardTitleTags2"),
        key: 2,
    },
    {
        title: t("index.cardTitle3"),
        content: t("index.cardTitleContent3"),
        tags: t("index.cardTitleTags3"),
        key: 3,
    },
    {
        title: t("index.cardTitle4"),
        content: t("index.cardTitleContent4"),
        tags: t("index.cardTitleTags4"),
        key: 4,
    },
];
const stories = {
    tag: t("index.storiesTag"),
    title: t("index.storiesTitle"),
    storyTitle1: t("index.storyTitle1"),
    storyTitle2: t("index.storyTitle2"),
    storyTitle3: t("index.storyTitle3"),
    storyContent1: t("index.storyContent1"),
    storyContent2: t("index.storyContent2"),
    storyContent3: t("index.storyContent3"),
    btnText: t("index.storiesBtnText")
};
const footer = {
    informationHeader: t("global.FooterInformationHeader"),
    cookiePolicy: t("global.FooterCookiePolicy"),
    availability: t("global.FooterAvailability"),
    privacyPolicy: t("global.FooterPrivacyPolicy"),
    contactsHeader: t("global.FooterContactsHeader"),
    phone: t("global.FooterPhone"),
    email: t("global.FooterEmail"),
    address: t("global.FooterAddress"),
    companyDetails: t("global.FooterCompanyDetails"),
    SIA: t("global.FooterSIA"),
    REG: t("global.FooterREG"),
    BANK: t("global.FooterBANK"),
    SWIFT: t("global.FooterSWIFT"),
    ACCOUNT: t("global.FooterACCOUNT"),
    copyright: t("global.FooterCopyright"),
};
---

<Layout title="Welcome to Astro.">
	<main>
		<Hero info={hero}/>
		<Cta info={cta} />
        <Services cards={servicesCards} info={servicesInfo} />
        <Stories info={stories} />
        <!-- <Contacts contactsInfo={contactsInfo} />
        <CareInfo careInfo={careInfo} /> -->
        <Footer info={footer} />
	</main>
</Layout>

<style lang="scss">
	@import '../styles/styles.scss';
</style>